*{
    margin: 0;
    padding: 0;
}

header{
    background-color: yellow ;
    margin-top: 2rem;
    position: sticky;
    top: 0px;
    color: yellow;
}

.navbar-brand{
    margin-left: 15%;
}

.collapse{
    margin-right: 15%;
    margin-left: 15%;
}

.nav-link{
    font-size: 1.3rem;
}

.nav-link:hover{
    font-size: 2rem;
    color: orange;
}

